@model Final_2252.Models.db.Flight

@{
    ViewData["Title"] = "Bording Pass";
}

<div class="boarding-page">
    <div class="boarding-container">
        <div class="name-container">
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName) <br />
            @Html.DisplayFor(model => model.MiddleName)
        </div>
        <div class="airport-container">
            <div class="airport-source">
                <div class="airport-sourece-address airport-address">
                    @Html.DisplayFor(model => model.AirportSourceNavigation.Address)
                </div>
                <div class="airport-sourece-name airport-name">
                    @Html.DisplayFor(model => model.AirportSourceNavigation.AirportName)
                </div>
            </div>
            <div class="airport-destination">
                <div class="airport-destination-address airport-address">
                    @Html.DisplayFor(model => model.AirportDestinationNavigation.Address)
                </div>
                <div class="airport-destination-name airport-name">
                    @Html.DisplayFor(model => model.AirportDestinationNavigation.AirportName)
                </div>
            </div>
        </div>
        <div class="airportCode-container">
            @Html.DisplayFor(model => model.AirportSourceNavigation.AirportCode)

            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-airplane-fill plane-icon" viewBox="0 0 16 16">
                <path
                    d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849" />
            </svg>
            @Html.DisplayFor(model => model.AirportDestinationNavigation.AirportCode)
        </div>
        <div class="fight-content-container">
            <div class="fightNo-container">
                <div class="fightNo-header fight-content-header">
                    Flight No.
                </div>
                <div class="fight-des fight-content-des">
                    @Html.DisplayFor(model => model.FlightNo)
                </div>
            </div>
            <div class="depart-date-container">
                <div class="depart-date-header fight-content-header">
                    Depart date
                </div>
                <div class="depart-date-des fight-content-des">
                    @Html.DisplayFor(model => model.DepartDate)
                </div>
            </div>
            <div class="boarding-time-container">
                <div class="boarding-time-header fight-content-header">
                    Boarding time
                </div>
                <div class="boarding-time-des fight-content-des">
                    @Html.DisplayFor(model => model.BoardingTime)
                </div>
            </div>
        </div>
        <div class="fight-content-container">
            <div class="gate-container">
                <div class="gate-header fight-content-header">
                    Gate
                </div>
                <div class="gate-des fight-content-des">
                    @Html.DisplayFor(model => model.Gate)
                </div>
            </div>
            <div class="zone-container">
                <div class="zone-header fight-content-header">
                    Zone
                </div>
                <div class="zone-des fight-content-des">
                    @Html.DisplayFor(model => model.Zone)
                </div>
            </div>
            <div class="seat-container">
                <div class="seat-header fight-content-header">
                    Seat
                </div>
                <div class="seat-des fight-content-des">
                    @Html.DisplayFor(model => model.Seat)
                </div>
            </div>
            <div class="seq-container">
                <div class="seq-header fight-content-header">
                    Seq
                </div>
                <div class="seq-des fight-content-des">
                    @Html.DisplayFor(model => model.Seq)
                </div>
            </div>
        </div>
    </div>
    <div class="edit-container">
        <a asp-action="Edit" asp-route-id="@Model?.FlightId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>
