@model Final_2252.Models.db.Fight

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportDestinationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportDestinationNavigation.AirportId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportSourceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportSourceNavigation.AirportId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FightId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
